/*基本样式表*/
*{
	padding: 0;
	margin: 0;
}
body{
	font-size: 12px;
	background: rgba(255,255,255,0.9);
}
ul li,ol li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #2db7f5;
	cursor: pointer;
	outline: medium none;
	transition: color 0.3s ease 0s;
}
a:active,a:hover,a:visited,a:focus,a:link{
	outline: none;
}
.btn{
	font-size: 12px;
	border-radius: 4px;
	padding: 6px 12px;
	outline: none;
	background: #fff;
	border: 1px solid #2db7f5;
	color: #2db7f5;
	cursor: pointer;
}
.btn:hover{
	background: #2db7f5;
	color: #fff;
	transition: all 0.3s ease 0s;
}
.btn[disabled]{
	background: #999;
	border: 1px solid #aaa;
	color: #fff;
	transition: all 0.3s ease 0s;
	cursor: not-allowed;
}